{% extends "base.html" %}
{% load static %}

{% block title %}Reset Password{% endblock %}

{% block content %}

<link rel="stylesheet" href="{% static 'css/reset_password.css' %}">

<div class="profile-wrapper">
    <h1 class="page-title">Reset Password</h1>

    <form method="POST" class="profile-form">
        {% csrf_token %}

        <div class="input-group">
            <label>Password baru</label>
            <input type="password" name="password" placeholder="Masukkan password baru" required>
        </div>

        <div class="input-group">
            <label>Konfirmasi password</label>
            <input type="password" name="password2" placeholder="Ulangi password baru" required>
        </div>

        {% if error %}
            <p style="color:red; font-size:14px;">{{ error }}</p>
        {% endif %}

        <button type="submit" class="submit-btn">Ubah Password</button>
    </form>
</div>

{% endblock %}
