{% load static %}
<nav class="navbar">
  <div class="nav-container">

    <!-- LOGO -->
    <div class="logo">
      <a href="{% url 'landing:home' %}">
        <img src="{% static 'img/logo-navbar.png' %}" alt="JETT Logo">
      </a>
    </div>

    <!-- NAV RIGHT -->
    <div class="nav-right">

      <div class="nav-links">

        <!-- ================= GUEST ================= -->
        {% if not request.user.is_authenticated %}
          <a href="{% url 'jobs:job_list' %}">Cari Kerja</a>
          <a href="{% url 'jobs:employer_home' %}" id="openCreateJobNavbar">Buat Lowongan</a>
        {% endif %}

        <!-- ================= SEEKER ================= -->
        {% if request.user.is_authenticated and request.user.role == "seeker" %}
          <a href="{% url 'jobs:job_list' %}">Cari Kerja</a>
        {% endif %}

        <!-- ================= COMPANY ================= -->
        {% if request.user.is_authenticated and request.user.role == "company" %}
          <a href="{% url 'jobs:employer_home' %}">Buat Lowongan</a>
        {% endif %}

      </div>

      <!-- ======= USER BELUM LOGIN ======= -->
      {% if not request.user.is_authenticated %}
        <div class="signin-btn" id="signin-wrapper">
          <button id="openLoginModal">Sign In</button>
        </div>
      {% endif %}

      <!-- ======= USER SUDAH LOGIN ======= -->
      {% if request.user.is_authenticated %}
        <div class="profile-dropdown">
          <button class="profile-btn">
            {{ request.user.full_name|default:request.user.email }}
          </button>

          <div class="profile-menu">

            {% if request.user.role == "seeker" %}
              <a href="{% url 'accounts:seeker_profile' %}">Profil</a>
              <a href="{% url 'applications:my_applications' %}">Lamaran Saya</a>
            {% elif request.user.role == "company" %}
              <a href="{% url 'accounts:company_profile' %}">Profil</a>
            {% endif %}

            <a href="{% url 'accounts:logout' %}">Logout</a>
            <a href="{% url 'accounts:delete_account' %}">Hapus Akun</a>
          </div>
        </div>
      {% endif %}

    </div>

  </div>
</nav>
